3/25 5:45 - currently working to intelligently create the target column

TODO:
push to aws?

make a basic model

In [408]:
target_date_index = target_date_index[-2::-1].astype(int)

In [409]:
with open('target_date_index.p', 'wb') as file:
    pickle.dump(target_date_index, file)

In [382]:
start_date = target['date'][58899]

In [388]:
(target['date'][0] - target['date'][58899]).days

5918

In [393]:
for i, date in enumerate(target['date']):
    target_date_index[(date - start_date).days] = i

In [1]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import pickle
import string
import sys
import numpy as np
import time

In [3]:
with open('data/predictor.p', 'rb') as file:
    predictor = pickle.load(file)
with open('data/target.p', 'rb') as file:
    target = pickle.load(file)

In [10]:
def save(df, target = False):
    path = 'data/' + ('target.p' if target else 'predictor.p')
    with open('path', 'wb') as file:
        pickle.dump(df, file)

In [ ]:
def target_pipeline(predictor):
    pass
    """
    filter out non fires
    filter out non-addresses
    filter out single number addresses?
    """

In [353]:
def data_pipeline(predictor):
    """
    convert int dates to datetimes!
    convert string dates to datetimes
    
    lowercase columns, make address column
    filter out "filed" permits
    
    """
    predictor.columns = [str.lower(col) for col in predictor.columns]
    
    predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)),axis = 1)
    return predictor

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [40]:
def hasnumber(s):
    return bool(re.search(r'\d', s))

In [86]:
fires = pd.read_csv('data/Fire_Incidents.csv')

In [354]:
save(predictor)

In [ ]:
predictor[['']]

In [140]:
target = target[target['address'].apply(lambda x: len(x) > 0)]

In [52]:
target['sfx'][target['bad_sfx']] = target['Address'].apply(lambda x: x.split()[-1])[target['bad_sfx']]

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
predictor['avs_street_sfx'].unique()

array([nan, 'ST', 'AV', 'CT', 'DR', 'WY', 'BL', 'TR', '*', 'LN', 'NO',
       'PK', 'PL', 'RD', 'CR', 'PZ', 'HL', 'HY', 'AL', 'SQ', 'SW', 'RW',
       'SO', 'WK'], dtype=object)

In [ ]:
def parse_address(string):
    
    bool(re.search(r'\d', inputString))
    return street_number, street_name

In [170]:
pd.to_datetime('1/1/1900') + pd.Timedelta('{} days'.format(500))

Timestamp('1901-05-16 00:00:00')

In [751]:
save(predictor)

In [289]:
def int_date_series(series):
    return series.apply(int_to_date)

In [290]:
def int_to_date(date):
    if type(date) == int:
        return pd.to_datetime('12/30/1899') + pd.Timedelta('{} days'.format(date))
    else:
        return date

In [420]:
pd.to_datetime(predictor[['status_date', 'file_date', 'expiration_date']])

TypeError: to_datetime() got an unexpected keyword argument 'axis'

In [431]:
predictor['expiration_date'] = pd.to_datetime(predictor['expiration_date'])

In [278]:
with open('col_name_map.p', 'wb') as file:
    pickle.dump(column_name_map, file)

In [280]:
#load data and align columns
data = []
for i, path in enumerate(os.listdir('data')):
    #I downloaded all the data into files with filename length 12/11. This'll filter out the other stuff.
    if len(path) > 12 or len(path) < 11:
        continue
    try:
        df = pd.read_excel('data/' + path)
    except:
        print(i)
        break
    df.columns = [str.lower(col) for col in df.columns]
    df.columns = df.columns.map(column_name_map)
    
    try:
        if len(df.columns) == 34:
            df['description'] = df['description'].astype(str) + df['unnamed: 33'].astype(str)
            df = df.drop(['unnamed: 33'], axis = 1)
        if len(df.columns) == 35:
            df['description'] = df['description'].astype(str) + df['unnamed: 33'].astype(str) + df['unnamed: 34'].astype(str)
            df = df.drop(['unnamed: 33', 'unnamed: 34'], axis = 1)
        if len(df.columns) == 42:
            df['description'] = df['description'].astype(str) + df['unnamed: 41'].astype(str)
            df = df.drop(['unnamed: 41'], axis = 1)
        if len(df.columns) == 43:
            df['description'] = df['description'].astype(str) + df['unnamed: 41'].astype(str) + df['unnamed: 42'].astype(str)
            df = df.drop(['unnamed: 41', 'unnamed: 42'], axis = 1)
    except KeyError as e:
        print(path)
        print(e)
        print(i)
        break
    data.append(df)

178

In [285]:
for i, datum in enumerate(data):
    for j, row in datum.iterrows():
        if type(row['status_date']) == int:
            print(i, j)
            break

74 4794
124 4794

In [294]:
predictor = pd.concat(data)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [315]:
save(predictor)

MemoryError:

In [309]:
save(predictor)

MemoryError:

In [438]:
l = [1,2,3,4,5]
[i,x for i,x in enumerate(l)]

SyntaxError: invalid syntax (<ipython-input-438-be848b48aba2>, line 2)

In [676]:
data[7]['avs_street_name'];

In [331]:
[i for i,datum in enumerate(data[:72]) if len(datum.columns) > 33]

[]

In [321]:
toy = data[81][~data[81]['unnamed: 42'].isnull()]

In [324]:
len(toy.columns)

43

In [336]:
os.listdir('data')[177]

'predictor.p'

In [29]:
links1 = soup.find_all('a', {'href':re.compile(r'/ftp*')})
base = 'https://sfdbi.org'

'https://sfdbi.org/ftp/uploadedfiles/dbi/reports/monthly_reports/bpfi/March2009FiledIssued_Permits.xls'

In [455]:
predictor = pd.concat(data)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [474]:
with open('data/predictor.p', 'wb') as file:
    pickle.dump(predictor,file)

In [470]:
predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)), axis = 1)

In [480]:
target['date'] = pd.to_datetime(target['date'])

In [296]:
save(predictor)

MemoryError:

In [330]:
del temp

In [320]:
names

['BeautifulSoup',
 'In',
 'Out',
 'a',
 'address',
 'b',
 'column_name_map',
 'd',
 'data',
 'datum',
 'df',
 'end',
 'exit',
 'file',
 'fires',
 'get_ipython',
 'hasnumber',
 'i',
 'int_date_series',
 'int_to_date',
 'j',
 'last',
 'name',
 'np',
 'os',
 'p1',
 'p2',
 'p3',
 'path',
 'pd',
 'pickle',
 'predictor',
 'quit',
 're',
 'real_fires',
 'requests',
 'row',
 's',
 'save',
 'start',
 'string',
 'subset',
 'sys',
 'target',
 'temp',
 'thing',
 'time']

In [673]:
mask = predictor['street_number'].apply(lambda x: isinstance(x, str))

In [119]:
predictor.columns = [str.lower(col) for col in predictor.columns]
predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)),axis = 1)

Format changes:
72,

In [208]:
def compare(colA, colB, n):
    for i, (a, b) in enumerate(zip(colA, colB)):
        if i >= n:
            break
        if a != b:
            print(i)
            return False
    return True

In [222]:
compare(data[0].columns, data[2].columns, 50)

7

False

In [224]:
data[2].columns, data[0].columns

(Index(['APPLICATION_NUMBER', 'FORM_NUMBER', 'FILE_DATE', 'STATUS_DATE',
        'STATUS', 'STATUS_CODE', 'EXPIRATION_DATE', 'ESTIMATEDCOST',
        'REVISEDCOST', 'EXISTINGUSE', 'EXISTINGUNITS', 'PROPOSEDUSE',
        'PROPOSEDUNITS', 'BLOCK', 'LOT', 'STREET_NUMBER', 'STREET_NUMBER_SFX',
        'AVS_STREET_NAME', 'AVS_STREET_SFX', 'UNIT', 'UNIT_SFX', 'FIRST_NAME',
        'LAST_NAME', 'CONTRACTORPHONE', 'COMPANY_NAME', 'STREET',
        'STREET_SUFFIX', 'CITY', 'STATE', 'ZIP_CODE', 'CONTACT_NAME',
        'CONTACT_PHONE', 'DESCRIPTION', 'Unnamed: 33'],
       dtype='object'),
 Index(['APPLICATION_NUMBER', 'FORM_NUMBER', 'FILE_DATE', 'STATUS_DATE',
        'STATUS', 'STATUS_CODE', 'EXPIRATION_DATE', 'ESTIMATED_COST',
        'REVISED_COST', 'EXISTING_USE', 'EXISTING_UNITS', 'PROPOSED_USE',
        'PROPOSED_UNITS', 'BLOCK', 'LOT', 'STREET_NUMBER', 'STREET_NUMBER_SFX',
        'AVS_STREET_NAME', 'AVS_STREET_SFX', 'UNIT', 'UNIT_SFX', 'FIRST_NAME',
        'LAST_NAME', 'CONTRACTORPHONE', 'COMPANY_NAME', 'STREET',
        'STREET_SUFFIX', 'CITY', 'STATE', 'ZIP_CODE', 'CONTACT_NAME',
        'CONTACT_PHONE', 'DESCRIPTION', 'Unnamed: 33'],
       dtype='object'))

In [232]:
l = [1,2,3]
list(map({1:'hi'},l))

TypeError: 'dict' object is not callable

In [331]:
save(predictor)

In [206]:
predictor.columns

column_name_map = {}
for name in s:
    column_name_map[name] = name

In [239]:
column_name_map['proposedstories'] = 'proposed_stories'

In [241]:
with open('col_name_map.p', 'wb') as file:
    pickle.dump(column_name_map, file)

In [340]:
data[13].columns

Index(['application_number', 'form_number', 'file_date', 'status_date',
       'status', 'status_code', 'expiration_date', 'estimated_cost',
       'revised_cost', 'existing_use', 'existing_units', 'proposed_use',
       'proposed_units', 'block', 'lot', 'street_number', 'street_number_sfx',
       'avs_street_name', 'avs_street_sfx', 'unit', 'unit_sfx', 'first_name',
       'last_name', 'contractor_phone', 'company_name', 'street',
       'street_suffix', 'city', 'state', 'zip_code', 'contact_name',
       'contact_phone', 'description'],
      dtype='object')

In [348]:
old = data[0].columns
for i, datum in enumerate(data):
    if not compare(datum.columns,old, 50):
        print(i)
    old = datum.columns

13
72

In [4]:
predictor = pd.read_csv('data/predictor.csv', engine = 'python')
target = pd.read_csv('data/target.csv')

In [79]:
s = pd.Series([1,2,3])
s.astype(str)

0    1
1    2
2    3
dtype: object

In [89]:
predictor.columns;

In [94]:
#only issued applications matter
predictor = predictor[predictor['status'] == 'ISSUED'].drop('status', axis = 1)

SyntaxError: invalid syntax (<ipython-input-94-3e9599a24fc8>, line 2)

In [100]:
predictor['addr2'] = predictor['address'].apply(lambda x: x.split()).apply(lambda x: ' '.join(x[:-1]))

In [528]:
start

Timestamp('2004-04-01 00:00:00')

In [570]:
ind = 15

In [571]:
start = predictor['status_date'][ind]
address = predictor['address'][ind]
temp= target[target['date'] - start > pd.Timedelta('0 days')]

In [572]:
fires = temp[temp['Address'].apply(lambda x: address == x[:len(address)])]

In [584]:
predictor = predictor[predictor['status'] == 'ISSUED']

In [585]:
save(predictor)

In [ ]:
mask1 = (pd.Timedelta('1825 days') > (tdates - start) )
mask2 = (tdates - start) > pd.Timedelta('0 days')

In [604]:
save(predictor)

In [609]:
fires = np.zeros(len(predictor))

In [624]:
times = []
for i,time in enumerate(uniquetimes):
    try:
        times.append(pd.to_datetime(time))
    except:
        print(i, time)

In [ ]:
with open('data/')

In [630]:
times2 = pd.to_datetime(uniquetimes, errors = 'coerce')

In [672]:
data[74]['status_date']

0       2015-12-22 00:00:00
1       2015-12-22 00:00:00
2       2015-12-15 00:00:00
3       2015-12-09 00:00:00
4       2015-12-09 00:00:00
5       2015-12-09 00:00:00
6       2015-12-09 00:00:00
7       2015-12-30 00:00:00
8       2015-12-02 00:00:00
9       2015-12-11 00:00:00
10      2015-12-10 00:00:00
11      2015-12-10 00:00:00
12      2015-12-10 00:00:00
13      2015-12-10 00:00:00
14      2015-12-03 00:00:00
15      2015-12-22 00:00:00
16      2015-12-08 00:00:00
17      2015-12-01 00:00:00
18      2015-12-18 00:00:00
19      2015-12-11 00:00:00
20      2015-12-03 00:00:00
21      2015-12-29 00:00:00
22      2015-12-01 00:00:00
23      2015-12-01 00:00:00
24      2015-12-01 00:00:00
25      2015-12-01 00:00:00
26      2015-12-01 00:00:00
27      2015-12-07 00:00:00
28      2015-12-16 00:00:00
29      2015-12-29 00:00:00
               ...
4952                  42369
4953                  42369
4954                  42369
4955                  42369
4956                  42369
4957                  42369
4958                  42369
4959                  42369
4960                  42369
4961                  42369
4962                  42369
4963                  42369
4964                  42369
4965                  42369
4966                  42369
4967                  42369
4968                  42369
4969                  42369
4970                  42369
4971                  42369
4972                  42369
4973                  42369
4974                  42369
4975                  42369
4976                  42369
4977                  42369
4978                  42369
4979                  42369
4980                  42369
4981                  42369
Name: status_date, Length: 4982, dtype: object

In [671]:
for i, x in enumerate(data):
    for j, row in x.iterrows():
        if type(row['status_date']) == int:
            print(i, j)
            break

74 4794
124 4794

In [662]:
[(i, type(x.iloc[5]['status_date'])) for (i,x) in enumerate(data)]

[(0, pandas._libs.tslibs.timestamps.Timestamp),
 (1, pandas._libs.tslibs.timestamps.Timestamp),
 (2, pandas._libs.tslibs.timestamps.Timestamp),
 (3, str),
 (4, str),
 (5, pandas._libs.tslibs.timestamps.Timestamp),
 (6, pandas._libs.tslibs.timestamps.Timestamp),
 (7, pandas._libs.tslibs.timestamps.Timestamp),
 (8, pandas._libs.tslibs.timestamps.Timestamp),
 (9, pandas._libs.tslibs.timestamps.Timestamp),
 (10, pandas._libs.tslibs.timestamps.Timestamp),
 (11, pandas._libs.tslibs.timestamps.Timestamp),
 (12, pandas._libs.tslibs.timestamps.Timestamp),
 (13, pandas._libs.tslibs.timestamps.Timestamp),
 (14, pandas._libs.tslibs.timestamps.Timestamp),
 (15, pandas._libs.tslibs.timestamps.Timestamp),
 (16, pandas._libs.tslibs.timestamps.Timestamp),
 (17, pandas._libs.tslibs.timestamps.Timestamp),
 (18, pandas._libs.tslibs.timestamps.Timestamp),
 (19, pandas._libs.tslibs.timestamps.Timestamp),
 (20, pandas._libs.tslibs.timestamps.Timestamp),
 (21, pandas._libs.tslibs.timestamps.Timestamp),
 (22, pandas._libs.tslibs.timestamps.Timestamp),
 (23, pandas._libs.tslibs.timestamps.Timestamp),
 (24, pandas._libs.tslibs.timestamps.Timestamp),
 (25, pandas._libs.tslibs.timestamps.Timestamp),
 (26, pandas._libs.tslibs.timestamps.Timestamp),
 (27, pandas._libs.tslibs.timestamps.Timestamp),
 (28, pandas._libs.tslibs.timestamps.Timestamp),
 (29, pandas._libs.tslibs.timestamps.Timestamp),
 (30, pandas._libs.tslibs.timestamps.Timestamp),
 (31, pandas._libs.tslibs.timestamps.Timestamp),
 (32, pandas._libs.tslibs.timestamps.Timestamp),
 (33, pandas._libs.tslibs.timestamps.Timestamp),
 (34, pandas._libs.tslibs.timestamps.Timestamp),
 (35, pandas._libs.tslibs.timestamps.Timestamp),
 (36, pandas._libs.tslibs.timestamps.Timestamp),
 (37, pandas._libs.tslibs.timestamps.Timestamp),
 (38, pandas._libs.tslibs.timestamps.Timestamp),
 (39, pandas._libs.tslibs.timestamps.Timestamp),
 (40, pandas._libs.tslibs.timestamps.Timestamp),
 (41, pandas._libs.tslibs.timestamps.Timestamp),
 (42, pandas._libs.tslibs.timestamps.Timestamp),
 (43, pandas._libs.tslibs.timestamps.Timestamp),
 (44, pandas._libs.tslibs.timestamps.Timestamp),
 (45, pandas._libs.tslibs.timestamps.Timestamp),
 (46, pandas._libs.tslibs.timestamps.Timestamp),
 (47, pandas._libs.tslibs.timestamps.Timestamp),
 (48, pandas._libs.tslibs.timestamps.Timestamp),
 (49, pandas._libs.tslibs.timestamps.Timestamp),
 (50, pandas._libs.tslibs.timestamps.Timestamp),
 (51, pandas._libs.tslibs.timestamps.Timestamp),
 (52, pandas._libs.tslibs.timestamps.Timestamp),
 (53, pandas._libs.tslibs.timestamps.Timestamp),
 (54, pandas._libs.tslibs.timestamps.Timestamp),
 (55, pandas._libs.tslibs.timestamps.Timestamp),
 (56, pandas._libs.tslibs.timestamps.Timestamp),
 (57, pandas._libs.tslibs.timestamps.Timestamp),
 (58, pandas._libs.tslibs.timestamps.Timestamp),
 (59, pandas._libs.tslibs.timestamps.Timestamp),
 (60, pandas._libs.tslibs.timestamps.Timestamp),
 (61, pandas._libs.tslibs.timestamps.Timestamp),
 (62, pandas._libs.tslibs.timestamps.Timestamp),
 (63, pandas._libs.tslibs.timestamps.Timestamp),
 (64, pandas._libs.tslibs.timestamps.Timestamp),
 (65, pandas._libs.tslibs.timestamps.Timestamp),
 (66, pandas._libs.tslibs.timestamps.Timestamp),
 (67, pandas._libs.tslibs.timestamps.Timestamp),
 (68, pandas._libs.tslibs.timestamps.Timestamp),
 (69, pandas._libs.tslibs.timestamps.Timestamp),
 (70, pandas._libs.tslibs.timestamps.Timestamp),
 (71, pandas._libs.tslibs.timestamps.Timestamp),
 (72, pandas._libs.tslibs.timestamps.Timestamp),
 (73, pandas._libs.tslibs.timestamps.Timestamp),
 (74, datetime.datetime),
 (75, pandas._libs.tslibs.timestamps.Timestamp),
 (76, pandas._libs.tslibs.timestamps.Timestamp),
 (77, pandas._libs.tslibs.timestamps.Timestamp),
 (78, pandas._libs.tslibs.timestamps.Timestamp),
 (79, pandas._libs.tslibs.timestamps.Timestamp),
 (80, pandas._libs.tslibs.timestamps.Timestamp),
 (81, pandas._libs.tslibs.timestamps.Timestamp),
 (82, pandas._libs.tslibs.timestamps.Timestamp),
 (83, pandas._libs.tslibs.timestamps.Timestamp),
 (84, pandas._libs.tslibs.timestamps.Timestamp),
 (85, pandas._libs.tslibs.timestamps.Timestamp),
 (86, pandas._libs.tslibs.timestamps.Timestamp),
 (87, pandas._libs.tslibs.timestamps.Timestamp),
 (88, pandas._libs.tslibs.timestamps.Timestamp),
 (89, pandas._libs.tslibs.timestamps.Timestamp),
 (90, pandas._libs.tslibs.timestamps.Timestamp),
 (91, pandas._libs.tslibs.timestamps.Timestamp),
 (92, pandas._libs.tslibs.timestamps.Timestamp),
 (93, pandas._libs.tslibs.timestamps.Timestamp),
 (94, pandas._libs.tslibs.timestamps.Timestamp),
 (95, pandas._libs.tslibs.timestamps.Timestamp),
 (96, pandas._libs.tslibs.timestamps.Timestamp),
 (97, pandas._libs.tslibs.timestamps.Timestamp),
 (98, pandas._libs.tslibs.timestamps.Timestamp),
 (99, pandas._libs.tslibs.timestamps.Timestamp),
 (100, pandas._libs.tslibs.timestamps.Timestamp),
 (101, pandas._libs.tslibs.timestamps.Timestamp),
 (102, pandas._libs.tslibs.timestamps.Timestamp),
 (103, pandas._libs.tslibs.timestamps.Timestamp),
 (104, pandas._libs.tslibs.timestamps.Timestamp),
 (105, pandas._libs.tslibs.timestamps.Timestamp),
 (106, pandas._libs.tslibs.timestamps.Timestamp),
 (107, pandas._libs.tslibs.timestamps.Timestamp),
 (108, pandas._libs.tslibs.timestamps.Timestamp),
 (109, pandas._libs.tslibs.timestamps.Timestamp),
 (110, pandas._libs.tslibs.timestamps.Timestamp),
 (111, pandas._libs.tslibs.timestamps.Timestamp),
 (112, pandas._libs.tslibs.timestamps.Timestamp),
 (113, pandas._libs.tslibs.timestamps.Timestamp),
 (114, pandas._libs.tslibs.timestamps.Timestamp),
 (115, pandas._libs.tslibs.timestamps.Timestamp),
 (116, pandas._libs.tslibs.timestamps.Timestamp),
 (117, pandas._libs.tslibs.timestamps.Timestamp),
 (118, pandas._libs.tslibs.timestamps.Timestamp),
 (119, pandas._libs.tslibs.timestamps.Timestamp),
 (120, pandas._libs.tslibs.timestamps.Timestamp),
 (121, pandas._libs.tslibs.timestamps.Timestamp),
 (122, pandas._libs.tslibs.timestamps.Timestamp),
 (123, pandas._libs.tslibs.timestamps.Timestamp),
 (124, datetime.datetime),
 (125, pandas._libs.tslibs.timestamps.Timestamp),
 (126, pandas._libs.tslibs.timestamps.Timestamp),
 (127, pandas._libs.tslibs.timestamps.Timestamp),
 (128, pandas._libs.tslibs.timestamps.Timestamp),
 (129, pandas._libs.tslibs.timestamps.Timestamp),
 (130, pandas._libs.tslibs.timestamps.Timestamp),
 (131, pandas._libs.tslibs.timestamps.Timestamp),
 (132, pandas._libs.tslibs.timestamps.Timestamp),
 (133, pandas._libs.tslibs.timestamps.Timestamp),
 (134, pandas._libs.tslibs.timestamps.Timestamp),
 (135, pandas._libs.tslibs.timestamps.Timestamp),
 (136, pandas._libs.tslibs.timestamps.Timestamp),
 (137, pandas._libs.tslibs.timestamps.Timestamp),
 (138, pandas._libs.tslibs.timestamps.Timestamp),
 (139, pandas._libs.tslibs.timestamps.Timestamp),
 (140, pandas._libs.tslibs.timestamps.Timestamp),
 (141, pandas._libs.tslibs.timestamps.Timestamp),
 (142, pandas._libs.tslibs.timestamps.Timestamp),
 (143, pandas._libs.tslibs.timestamps.Timestamp),
 (144, pandas._libs.tslibs.timestamps.Timestamp),
 (145, pandas._libs.tslibs.timestamps.Timestamp),
 (146, pandas._libs.tslibs.timestamps.Timestamp),
 (147, pandas._libs.tslibs.timestamps.Timestamp),
 (148, pandas._libs.tslibs.timestamps.Timestamp),
 (149, pandas._libs.tslibs.timestamps.Timestamp),
 (150, pandas._libs.tslibs.timestamps.Timestamp),
 (151, pandas._libs.tslibs.timestamps.Timestamp),
 (152, pandas._libs.tslibs.timestamps.Timestamp),
 (153, pandas._libs.tslibs.timestamps.Timestamp),
 (154, pandas._libs.tslibs.timestamps.Timestamp),
 (155, pandas._libs.tslibs.timestamps.Timestamp),
 (156, pandas._libs.tslibs.timestamps.Timestamp),
 (157, pandas._libs.tslibs.timestamps.Timestamp),
 (158, pandas._libs.tslibs.timestamps.Timestamp),
 (159, pandas._libs.tslibs.timestamps.Timestamp),
 (160, pandas._libs.tslibs.timestamps.Timestamp),
 (161, pandas._libs.tslibs.timestamps.Timestamp),
 (162, pandas._libs.tslibs.timestamps.Timestamp),
 (163, pandas._libs.tslibs.timestamps.Timestamp),
 (164, pandas._libs.tslibs.timestamps.Timestamp),
 (165, pandas._libs.tslibs.timestamps.Timestamp),
 (166, pandas._libs.tslibs.timestamps.Timestamp),
 (167, pandas._libs.tslibs.timestamps.Timestamp),
 (168, pandas._libs.tslibs.timestamps.Timestamp),
 (169, pandas._libs.tslibs.timestamps.Timestamp),
 (170, pandas._libs.tslibs.timestamps.Timestamp),
 (171, pandas._libs.tslibs.timestamps.Timestamp),
 (172, pandas._libs.tslibs.timestamps.Timestamp)]

In [641]:
for i, (a, b) in enumerate(zip(times, list(times2))):
    if a != b:
        print(i)
        break

1578

In [659]:
[(i,type(x)) for (i,x) in enumerate(predictor['status_date'].unique())];

In [786]:
target['Address'];

In [781]:
for i, date in enumerate(predictor['status_date'].unique()):
    if i%500 == 0:
        print(i)
    try:
        fires_after[date] = target[target['date'] - date > pd.Timedelta('0 days')]

2554

In [433]:
pd.to_datetime(predictor['status_date']);

In [438]:
save(target, target=True)

In [443]:
predictor[predictor['fires']>0]

,15_day_hold?,application_number,assessor_stories,avs_street_name,avs_street_sfx,block,city,company_name,contact_name,contact_phone,...,street_number,street_number.1,street_number_sfx,street_suffix,unit,unit_sfx,voluntary soft-story retrofit,zip_code,address,fires
7564,NaN,200212314402,NaN,LAGUNA HONDA,BL,2842,SAN FRANCISCO,PROVEN MANAGEMENT INC.,NaN,NaN,...,375,NaN,NaN,ST,NaN,NaN,NaN,94124-0000,375 LAGUNA HONDA,1.0
7587,NaN,200304112144,NaN,ELLIS,ST,0717,SAN FRANCISCO,MATRIX SEISMIC CORP,NaN,NaN,...,710,NaN,NaN,ST,NaN,NaN,NaN,94102-0000,710 ELLIS,2.0
7624,NaN,200307310903,NaN,PAGE,ST,1226,SAN FRANCISCO,RUBY PLUMBING & ELECTRICAL,NaN,NaN,...,1880,NaN,NaN,AV,0,NaN,NaN,94112-0000,1880 PAGE,1.0
7649,NaN,200309185179,NaN,TEHAMA,ST,3733,SAN FRANCISCO,TOPPS ELECTRIC CO.,CONTRACTOR NEEDS WORKMEN COMP.,NaN,...,328,NaN,NaN,AV,NaN,NaN,NaN,94124-0000,328 TEHAMA,1.0
7650,NaN,200309185179,NaN,CLEMENTINA,ST,3733,SAN FRANCISCO,TOPPS ELECTRIC CO.,CONTRACTOR NEEDS WORKMEN COMP.,NaN,...,330,NaN,NaN,AV,NaN,NaN,NaN,94124-0000,330 CLEMENTINA,3.0
7655,NaN,200309265896,NaN,CALIFORNIA,ST,1015,SAN FRANCISCO,PANKOW SPECIAL PROJECTS LP,NaN,NaN,...,3838,NaN,NaN,NaN,NaN,NaN,NaN,94107-0000,3838 CALIFORNIA,1.0
7659,NaN,200310036472,NaN,FRANCISCO,ST,0042,MILPITAS,SUPERIOR AUTOMATIC SPRINKLER,NaN,NaN,...,570,NaN,NaN,CT,NaN,NaN,NaN,95035-0000,570 FRANCISCO,2.0
7660,NaN,200310036476,NaN,FRANCISCO,ST,0042,MILPITAS,SUPERIOR AUTOMATIC SPRINKLER,NaN,NaN,...,570,NaN,NaN,CT,NaN,NaN,NaN,95035-0000,570 FRANCISCO,2.0
7670,NaN,200310157553,NaN,CALIFORNIA,ST,1021,SO. SAN FRANCISCO,PACIFIC EARTHSAFE SYSTEMS,NaN,NaN,...,3200,NaN,NaN,DR,NaN,NaN,NaN,94080-0000,3200 CALIFORNIA,1.0
7672,NaN,200310177792,NaN,16TH,ST,3568,PITTSBURG,AQUAMATIC FIRE PROTECTION,NaN,NaN,...,3161,NaN,NaN,ST,NaN,NaN,NaN,94565-0000,3161 16TH,1.0
7692,NaN,200311130195,NaN,FILLMORE,ST,0707,NaN,NaN,"YOUNG WONG 785 MARKET SF, CA 94103",4.15975e+09,...,1501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1501 FILLMORE,1.0
7698,NaN,200311190573,NaN,PAGE,ST,0854,NaN,NaN,JAIDIN CONSULTING GROUP,8.63389e+06,...,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55 PAGE,1.0
7733,NaN,200312112081,NaN,20TH,AV,7295,SEDONA,SHRADER & MARINEZ CONST. INC,"MBH ARCH 1125 ALANTIC AVE, ALAMEDA 94501",5.10866e+09,...,3251,NaN,NaN,NaN,NaN,NaN,NaN,86336-0000,3251 20TH,3.0
7734,NaN,200312112123,NaN,20TH,AV,7295,SEDONA,SHRADER & MARINEZ CONST. INC,"MBH ARCH 1125 ATLANTIC AVE, ALAMEDA,CA",5.10866e+09,...,3251,NaN,NaN,NaN,NaN,NaN,NaN,86336-0000,3251 20TH,3.0
7758,NaN,200312192732,NaN,20TH,AV,7295,NaN,NaN,"LIMITED BRANDS 3 LTD PKWY, COLUMBUS OH 43230",NaN,...,3251,NaN,NaN,NaN,0,NaN,NaN,NaN,3251 20TH,3.0
7769,NaN,200312232942,NaN,GARLINGTON,CT,4715,SAN FRANCISCO,MARINSHIP CONSTRUCTION,NaN,NaN,...,4,NaN,NaN,AV,NaN,NaN,NaN,94124,4 GARLINGTON,1.0
7780,NaN,200312303199,NaN,FRONT,ST,0266,NaN,NaN,GENSLER 2 HARRISION ST 400 SF 94105,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 FRONT,1.0
7784,NaN,200312313236,NaN,SPEAR,ST,3744,PACHECO,RICHLEN CONSTRUCTION,"RMW 160 PINE ST, SF, CA",NaN,...,345,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,345 SPEAR,1.0
7785,NaN,200312313238,NaN,POWELL,ST,0307,S SAN FRANCISCO,MARCHETTI CONSTRUCTION INC.,"RICHARD RUTTER 2329 SANTA CLARA #204,ALAMEDA,C...",NaN,...,335,NaN,NaN,WY,NaN,NaN,NaN,94080,335 POWELL,1.0
7786,NaN,200312313268,NaN,VALENCIA,ST,3569,NaN,NaN,NaN,NaN,...,535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535 VALENCIA,1.0
7792,NaN,200401063416,NaN,CALIFORNIA,ST,0263,NEW YORK,TURNER CONSTRUCTION CO,HOK,NaN,...,101,NaN,NaN,ST,NaN,NaN,NaN,10014-0000,101 CALIFORNIA,1.0
7796,NaN,200401073484,NaN,MAIN,ST,3740,NaN,NaN,"OTTOLINI BOOTH & ASSOC 221 MAIN, #525,SF, CA 9...",NaN,...,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221 MAIN,2.0
7805,NaN,200401083612,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,"INTERIOR ARCHITECTS 350 CALIF #1500,SF, CA",4.15434e+09,...,101,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0
7806,NaN,200401083614,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,NaN,NaN,...,101,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0
7807,NaN,200401083616,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,"INTERIOR ARCHITECTS 350 CALIF #1500,SF, CA",NaN,...,101,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0
7808,NaN,200401083617,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,INTERIOR ARCHITECTS,NaN,...,101,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0
7843,NaN,200401204368,NaN,CALIFORNIA,ST,0263,NEW YORK,TURNER CONSTRUCTION CO,"HOK 1 BUSH ST #200,SF, CA 94104. THEODORE DAV...",NaN,...,101,NaN,NaN,ST,NaN,NaN,NaN,10014-0000,101 CALIFORNIA,1.0
7847,NaN,200401214472,NaN,CALIFORNIA,ST,0262,SAN FRANCISCO,BRENT CONSTRUCTION CO INC,NaN,NaN,...,201,NaN,NaN,ST,NaN,NaN,NaN,94107,201 CALIFORNIA,1.0
7848,NaN,200401214474,NaN,CALIFORNIA,ST,0262,SAN FRANCISCO,BRENT CONSTRUCTION CO INC,"SMITH GROUP 225 BUSH ST,SF, CA",NaN,...,201,NaN,NaN,ST,NaN,NaN,NaN,94107,201 CALIFORNIA,1.0
7852,NaN,200401224564,NaN,JONES,ST,0339,SAN FRANCISCO,LEM CONSTRUCTION INC,"GELFAND RNP ARCHITECTS 450 GEARY ST#100,SF,CA9...",NaN,...,240,NaN,NaN,*,NaN,NaN,NaN,94612-0000,240 JONES,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50614,NaN,#200505243352,NaN,FILLMORE,ST,725,UNDECIDED,UNDECIDED,NaN,NaN,...,1426,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,1426 FILLMORE,1.0
50616,NaN,#200505243354,NaN,FILLMORE,ST,725,UNDECIDED,UNDECIDED,NaN,NaN,...,1426,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,1426 FILLMORE,1.0
50618,NaN,#200505243360,NaN,CALIFORNIA,ST,263,UNDECIDED,UNDECIDED,NaN,NaN,...,101,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,101 CALIFORNIA,1.0
50619,NaN,#200505243361,NaN,CALIFORNIA,ST,263,UNDECIDED,UNDECIDED,NaN,NaN,...,101,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,101 CALIFORNIA,1.0
50652,NaN,#200505253406,NaN,HAZELWOOD,AV,3005D,PETALUMA,O'KANE CONSTRUCTION FINE BY DESIGN,NaN,NaN,...,496,NaN,NaN,LN,NaN,NaN,NaN,94952,496 HAZELWOOD,1.0
50653,NaN,#200505253407,NaN,CALIFORNIA,ST,264,SAN FRANCISCO,SKYLINE CONSTRUCTION,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,94111-0000,1 CALIFORNIA,1.0
50654,NaN,#200505253408,NaN,FOLSOM,ST,6525,NOVATO,DROSIHN CONSTRUCTION ** SEE NOTES**,NaN,NaN,...,2928,NaN,NaN,AV,NaN,NaN,NaN,94945-0000,2928 FOLSOM,1.0
50659,NaN,#200505253413,NaN,RHODE ISLAND,ST,3978,UNDECIDED,UNDECIDED,NaN,NaN,...,450,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,450 RHODE ISLAND,1.0
50679,NaN,#200505253435,NaN,MARKET,ST,3708,SAN FRANCISCO,C B F INC,NaN,NaN,...,525,NaN,NaN,ST,NaN,NaN,NaN,94105,525 MARKET,2.0
50690,NaN,#200505253449,NaN,MARKET,ST,3713,SAN FRANCISCO,WCP SVCS DBA: VENTURE BUILDERS,NaN,NaN,...,1,NaN,NaN,ST,NaN,NaN,NaN,94105-0000,1 MARKET,2.0
50698,NaN,#200505253457,NaN,VALLEJO,ST,572,SAN FRANCISCO,MAYTA & JENSEN,NaN,NaN,...,1425,NaN,NaN,AV,103,NaN,NaN,94124,1425 VALLEJO,2.0
50713,NaN,#200505253474,NaN,MARKET,ST,3713,SAN FRANCISCO,WCP SVCS DBA: VENTURE BUILDERS,NaN,NaN,...,1,NaN,NaN,ST,NaN,NaN,NaN,94105-0000,1 MARKET,2.0
50716,NaN,#200505253476,NaN,KING,ST,8702,UNDECIDED,UNDECIDED,NaN,NaN,...,260,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,260 KING,2.0
50723,NaN,#200505263483,NaN,20TH,AV,7295,MANTECA,CALIFORNIA SIGN INSTALLATION,NaN,NaN,...,3251,NaN,NaN,ST,NaN,NaN,NaN,95336-0000,3251 20TH,4.0
50732,NaN,#200505263493,NaN,22ND,ST,4143,SAN FRANCISCO,YOUNG'S ROOFING,NaN,NaN,...,2680,NaN,NaN,AV,NaN,NaN,NaN,94124-0000,2680 22ND,1.0
50739,NaN,#200505263502,NaN,20TH,AV,7295,OAKLAND,CPC TECHNOLOGIES INC,NaN,NaN,...,3251,NaN,NaN,WY,0,NaN,NaN,94621-0000,3251 20TH,4.0
50748,NaN,#200505263514,NaN,GREEN,ST,126,SAN FRANCISCO,SAARMAN CONSTRUCTION LTD.,NaN,NaN,...,1097,NaN,NaN,ST,0,NaN,NaN,94102,1097 GREEN,1.0
50758,NaN,#200505263527,NaN,CALIFORNIA,ST,1015,NaN,NaN,NaN,NaN,...,3838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3838 CALIFORNIA,1.0
50764,NaN,#200505263533,NaN,CALIFORNIA,ST,635,EL DORADO HILL,H B H CONSTRUCTION INC,NaN,NaN,...,2434,NaN,NaN,NaN,NaN,NaN,NaN,95762-0000,2434 CALIFORNIA,1.0
50788,NaN,#200505263563,NaN,MARKET,ST,3705,SAN FRANCISCO,CUPERTINO ELECTRIC CO,NaN,NaN,...,865,NaN,NaN,ST,NaN,NaN,NaN,94124-0000,865 MARKET,1.0
50793,NaN,#200505263568,NaN,MARKET,ST,328,UNDECIDED,UNDECIDED,NaN,NaN,...,760,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,760 MARKET,3.0
50834,NaN,#200505273629,NaN,HOWARD,ST,3722,UNDECIDED,UNDECIDED,NaN,NaN,...,660,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,660 HOWARD,1.0
50840,NaN,#200505273639,NaN,MARKET,ST,3708,SAN FRANCISCO,CITY BUILDING INC.,NaN,NaN,...,595,NaN,NaN,*,NaN,NaN,NaN,94105,595 MARKET,1.0
50844,NaN,#200505273645,NaN,MARKET,ST,3708,UNDECIDED,UNDECIDED,NaN,NaN,...,595,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,595 MARKET,1.0
50862,NaN,#200505273668,NaN,CASTRO,ST,3582,UNDECIDED,UNDECIDED,NaN,NaN,...,451,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,451 CASTRO,1.0
50891,NaN,#200505313698,NaN,CALIFORNIA,ST,635,MANTECA,CALIFORNIA SIGN INSTALLATION,NaN,NaN,...,2434,NaN,NaN,ST,NaN,NaN,NaN,95336-0000,2434 CALIFORNIA,1.0
50894,NaN,#200505313701,NaN,STEINER,ST,726,OBR,OBR,NaN,NaN,...,1410,NaN,NaN,NaN,NaN,NaN,NaN,00000-0000,1410 STEINER,3.0
50948,NaN,#200505313761,NaN,MARKET,ST,3708,SAN FRANCISCO,HATHAWAY DINWIDDIE CONSTRUCTION CO,NaN,NaN,...,525,NaN,NaN,ST,NaN,NaN,NaN,94111,525 MARKET,2.0
50953,NaN,#200505313766,NaN,MARKET,ST,3710,SAN FRANCISCO,BRENT CONSTRUCTION CO INC,NaN,NaN,...,333,NaN,NaN,ST,NaN,NaN,NaN,94107,333 MARKET,2.0
50954,NaN,#200505313768,NaN,MARKET,ST,3708,SAN FRANCISCO,BRENT CONSTRUCTION CO INC,NaN,NaN,...,525,NaN,NaN,ST,NaN,NaN,NaN,94107,525 MARKET,2.0

In [434]:
a, b, c = 0,0,0

In [435]:
for i, row in predictor.iterrows():
    if i%1000 == 0:
        print('done with {} iterations'.format(i))
    try:
        #part a
        p1 = time.clock()
        start = row['status_date']
        address = row['address']
        #part b
        p2 = time.clock()
        
        days = (start - start_date).days
        temp = target.iloc[:target_date_index[days]]
        
        #part c
        p3 = time.clock()
        fires[i] = len(temp[temp['address'].apply(lambda x: address == x[:len(address)])])
        last = time.clock()
        
        a += p2 - p1
        b += p3 - p2
        c += last - p3
        if i > 51000:
            break
    except:
        print(i)
        print(sys.exc_info())
        break

done with 0 iterations
done with 1000 iterations
done with 2000 iterations
done with 3000 iterations
done with 4000 iterations
done with 5000 iterations
done with 6000 iterations
done with 7000 iterations
done with 8000 iterations
done with 9000 iterations
done with 10000 iterations
done with 11000 iterations
done with 12000 iterations
done with 13000 iterations
done with 14000 iterations
done with 15000 iterations
done with 16000 iterations
done with 17000 iterations
done with 18000 iterations
done with 19000 iterations
done with 20000 iterations
done with 21000 iterations
done with 22000 iterations
done with 23000 iterations
done with 24000 iterations
done with 25000 iterations
done with 26000 iterations
done with 27000 iterations
done with 28000 iterations
done with 29000 iterations
done with 30000 iterations
done with 31000 iterations
done with 32000 iterations
done with 33000 iterations
done with 34000 iterations
done with 35000 iterations
done with 36000 iterations
done with 37000 iterations
done with 38000 iterations
done with 39000 iterations
done with 40000 iterations
done with 41000 iterations
done with 42000 iterations
done with 43000 iterations
done with 44000 iterations
done with 45000 iterations
done with 46000 iterations
done with 47000 iterations
done with 48000 iterations
done with 49000 iterations
done with 50000 iterations
done with 51000 iterations

In [436]:
a,b,c

(2.4602867001067352, 13.556299699977899, 161.5250396001502)

In [162]:
save(predictor)

###

In [773]:
fires[0] = len(temp[temp['Address'].apply(lambda x: address == x[:len(address)])])

In [762]:
start = row['status_date']
address = row['address']

In [11]:
def int_able(string):
    try:
        x = int(string)
    except:
        return False
    return True

In [41]:
predictor[predictor['address'].apply(lambda x: test in x)]

Empty DataFrame
Columns: [file_date, estimated cost, proposed use, proposed units, proposed stories, address, list]
Index: []

In [96]:
#get the rows there the first word of the address is a number
#in other words, make sure there an address number.
predictor['address'][predictor['address'].apply(lambda x: x.split()[0]).apply(intable)];

Confirmed: Every single row in this data has an address number that's the first word in the address

In [32]:
#let's get that list out
predictor['list'] = predictor['address'].apply(lambda x: x.split())

In [97]:
predictor['address'].apply(lambda x: x.split()[-1]).unique();

In [31]:
street_names = predictor['address'].apply(lambda x: x.split()[-2]).unique()

In [341]:
test = '156 GEARY'
target[target['address'].apply(lambda x: test in x)]

            address       date
0  156 GEARY STREET 2019-03-16

In [ ]:
#let's find stuff with the same second word but different suffix. see if that's a thing?
for name in street_names:
    predictor['address'].apply()

In [99]:
target;

In [43]:
predictor['street name'] = predictor['list'].apply(lambda x: x[1])

In [45]:
predictor['addr2'] = predictor['list'].apply(lambda x: ' '.join(x[:-1]))

In [57]:
for i, addr in enumerate(predictor['addr2'].unique()):
    t = target[target['Address'].apply(lambda x: addr in x)].count()
    print(addr, ': ', t['Address'])
    if i > 100: 
        break

1201 TENNESSEE :  11
435 10TH :  1
1127 MARKET :  4
3935 WASHINGTON :  1
455 IRWIN :  3
201 POST :  33
209 POST :  1
2371 17TH :  2
1455 MARKET :  68
322 LEXINGTON :  0
2130 OFARRELL :  21
1 HALLIDIE :  0
1299 BUSH :  9
222 02ND :  1
28 CYRIL MAGNIN :  9
2675 GEARY :  111
3507 23RD :  1
3509 23RD :  1
333 POST :  136
1417 05TH :  0
1419 05TH :  0
40 BUCHANAN :  9
1627 RIVERA :  0
1111 08TH :  0
744 IRVING :  6
130 SAN BUENAVENTURA :  0
747 HOWARD :  190
1225 HYDE :  2
1649 POLK :  1
634 MISSOURI :  1
650 CALIFORNIA :  72
549 FLOOD :  0
350 MISSION :  54
301 HOWARD :  80
1939 MARKET :  3
112 07TH :  0
212 CALIFORNIA :  7
165 LOWER :  0
167 LOWER :  0
806 35TH :  0
536 MISSION :  33
195 EUREKA :  1
444 DE HARO :  25
2526 FRANCISCO :  1
1770 35TH :  1
312 TEXAS :  1
16 25TH NORTH :  0
5 EMBARCADERO CENTER :  0
1263 MISSION :  1
727 CHENERY :  0
733 CHENERY :  0
703 MARKET :  14
975 CLAYTON :  0
2849 BALBOA :  0
46 LUNDY'S :  0
577 ALVARADO :  0
799 MARKET :  74
860 FELL :  6
3516 SACRAMENTO :  9
3518 SACRAMENTO :  0
110 SUTTER :  19
2 EMBARCADERO CENTER :  0
901 MARKET :  50
1522 09TH :  0
875 37TH :  1
474 LOS PALMOS :  0
115 TOPAZ :  0
117 TOPAZ :  0
2106 JACKSON :  12
4612 19TH :  0
2349 09TH :  0
848 26TH :  0
980 BAKER :  1
2035 LAGUNA :  0
1 CALIFORNIA :  809
1692 HAIGHT :  0
201 CALIFORNIA :  95
5431 CALIFORNIA :  3
333 BUSH :  130
601 CALIFORNIA :  37
123 MISSION :  55
2288 BROADWAY :  28
1330 HAMPSHIRE :  0
1309 HOWARD :  0
555 MARKET :  94
115 ULLOA :  3
47 PROSPECT :  1
1859 FILBERT :  1
250 SUMMIT :  0
50 LAGUNA :  75
1520 GOUGH :  22
420 MONTGOMERY :  56
180 MONTGOMERY :  27
2841 VALLEJO :  3
1017 PORTOLA :  0
1 MONTGOMERY :  442
120 KEARNY :  162
1569 PAGE :  0
100 DIAMOND :  7
1234 34TH :  2
1236 34TH :  0
47 LINDA :  0

57067