3/25 5:45 - currently working to intelligently create the target column

TODO:
push to aws?

make a basic model

In [393]:
for i, date in enumerate(target['date']):
    target_date_index[(date - start_date).days] = i

In [1]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import pickle
import string
import sys
import numpy as np
import time

In [3]:
with open('data/predictor.p', 'rb') as file:
    predictor = pickle.load(file)
with open('data/target.p', 'rb') as file:
    target = pickle.load(file)

In [10]:
def save(df, target = False):
    path = 'data/' + ('target.p' if target else 'predictor.p')
    with open('path', 'wb') as file:
        pickle.dump(df, file)

In [ ]:
def target_pipeline(predictor):
    pass
    """
    filter out non fires
    filter out non-addresses
    filter out single number addresses - these cannot be associated with buildings
    """

In [353]:
def data_pipeline(predictor):
    """
    convert int dates to datetimes!
    convert string dates to datetimes
    
    lowercase columns, make address column
    filter out "filed" permits
    
    """
    predictor.columns = [str.lower(col) for col in predictor.columns]
    
    predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)),axis = 1)
    return predictor

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [40]:
def hasnumber(s):
    return bool(re.search(r'\d', s))

In [462]:
target[target['address'].apply(lambda x: hasnumber(x.split()[-1]))]

                                  address       date
26                      3595 GEARY BL 608 2019-03-11
27                     900 BUSH ST 11THFL 2019-03-11
32                    926 FILLMORE ST 108 2019-03-10
33                         201 11TH AV 12 2019-03-10
45                       2949 18TH ST 207 2019-03-08
57                     110 SUTTER ST 10TH 2019-03-05
65                      595 OFARRELL ST 3 2019-03-03
74                       1960 GRANT AV 16 2019-03-02
77                       301 JUDAH ST 104 2019-03-01
80                      988 HOWARD ST 201 2019-03-01
82                         241 6TH ST 407 2019-03-01
85                          267 27TH AV 3 2019-02-28
102                     1056 PACIFIC AV 1 2019-02-26
101              222 WILLARD NORTH ST 304 2019-02-26
106            2425 GEARY BL 1STFLKITCHEN 2019-02-25
107                  1548 MCALLISTER ST 1 2019-02-25
125                  1605 WASHINGTON ST 4 2019-02-23
136             520 SOUTH VAN NESS AV 243 2019-02-22
147                    1849 CHESTNUT ST 1 2019-02-21
149                378 GOLDEN GATE AV 144 2019-02-21
153                    1425 TAYLOR ST 306 2019-02-21
166               1600 DIVISADERO ST B257 2019-02-19
177                      536 MASON ST 3RD 2019-02-18
189                     1880 PINE ST 1202 2019-02-16
190                      1865 BUSH ST 201 2019-02-16
192                      420 STANYAN ST 1 2019-02-15
199                     735 GEARY ST 101B 2019-02-15
202                        1942 15TH ST 5 2019-02-14
213                     420 EDDY ST 2NDFL 2019-02-12
219                   299 FREMONT ST 22ND 2019-02-12
...                                   ...        ...
16952                 909 FRANKLIN ST # 2 2014-03-12
16958                      100 FONT BL 9G 2014-03-12
16975               230 BUCKINGHAM WY 102 2014-03-09
16980                      1652 EDDY ST 1 2014-03-08
16991                    8 KEYSTONE WY 2C 2014-03-06
16992                1220 LA PLAYA ST 207 2014-03-06
16996                    1880 PINE ST 909 2014-03-05
16997                    1880 PINE ST 309 2014-03-05
16999                     130 EDDY ST 220 2014-03-05
17004                   670 NATOMA ST 512 2014-03-03
17005                     507 BUSH ST 105 2014-03-03
17007                1338 STOCKTON ST 2ND 2014-03-03
17019               470 CLEMENTINA ST 102 2014-02-26
17022                     250 KING ST 880 2014-02-26
22120                             PIER 70 2012-09-11
25949                   1280 LAGUNA ST 7E 2011-08-27
39926   101SB C CHAVEZ ON / 101 SB Z 10TH 2007-09-29
43271                 MONSTER PARK GATE#3 2006-11-25
43766                             PIER 40 2006-10-05
50669              310 ARBALLO DR APT. 2D 2004-12-15
50857    1206 - APT. VALENCIA ST - APT. 8 2004-11-26
53272                         164-CHICAGO 2004-04-24
53653               1 101 SB Z BAYSHR 3RD 2004-03-17
53925                3145 TURK STR APT203 2004-02-21
54131             3606 18TH STREET APT. 1 2004-02-01
54691                        198 GARRIS0N 2003-12-22
54881           2305 GOLDEN GATE AV RM326 2003-12-01
55098  I280NB MARIPOSA OF / INTERSTATE 28 2003-11-11
56452     2176 - 2180 MISSION ST ROOM 221 2003-07-19
57960                               94118 2003-03-22

[982 rows x 2 columns]

In [465]:
len(predictor['address'].unique())

117284

In [ ]:
def parse_address(string):
    
    bool(re.search(r'\d', inputString))
    return street_number, street_name,

In [170]:
pd.to_datetime('1/1/1900') + pd.Timedelta('{} days'.format(500))

Timestamp('1901-05-16 00:00:00')

In [751]:
save(predictor)

In [289]:
def int_date_series(series):
    return series.apply(int_to_date)

In [290]:
def int_to_date(date):
    if type(date) == int:
        return pd.to_datetime('12/30/1899') + pd.Timedelta('{} days'.format(date))
    else:
        return date

In [420]:
pd.to_datetime(predictor[['status_date', 'file_date', 'expiration_date']])

TypeError: to_datetime() got an unexpected keyword argument 'axis'

In [431]:
predictor['expiration_date'] = pd.to_datetime(predictor['expiration_date'])

In [278]:
with open('col_name_map.p', 'wb') as file:
    pickle.dump(column_name_map, file)

In [280]:
#load data and align columns
data = []
for i, path in enumerate(os.listdir('data')):
    #I downloaded all the data into files with filename length 12/11. This'll filter out the other stuff.
    if len(path) > 12 or len(path) < 11:
        continue
    try:
        df = pd.read_excel('data/' + path)
    except:
        print(i)
        break
    df.columns = [str.lower(col) for col in df.columns]
    df.columns = df.columns.map(column_name_map)
    
    try:
        if len(df.columns) == 34:
            df['description'] = df['description'].astype(str) + df['unnamed: 33'].astype(str)
            df = df.drop(['unnamed: 33'], axis = 1)
        if len(df.columns) == 35:
            df['description'] = df['description'].astype(str) + df['unnamed: 33'].astype(str) + df['unnamed: 34'].astype(str)
            df = df.drop(['unnamed: 33', 'unnamed: 34'], axis = 1)
        if len(df.columns) == 42:
            df['description'] = df['description'].astype(str) + df['unnamed: 41'].astype(str)
            df = df.drop(['unnamed: 41'], axis = 1)
        if len(df.columns) == 43:
            df['description'] = df['description'].astype(str) + df['unnamed: 41'].astype(str) + df['unnamed: 42'].astype(str)
            df = df.drop(['unnamed: 41', 'unnamed: 42'], axis = 1)
    except KeyError as e:
        print(path)
        print(e)
        print(i)
        break
    data.append(df)

178

In [285]:
for i, datum in enumerate(data):
    for j, row in datum.iterrows():
        if type(row['status_date']) == int:
            print(i, j)
            break

74 4794
124 4794

In [294]:
predictor = pd.concat(data)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [315]:
save(predictor)

MemoryError:

In [309]:
save(predictor)

MemoryError:

In [438]:
l = [1,2,3,4,5]
[i,x for i,x in enumerate(l)]

SyntaxError: invalid syntax (<ipython-input-438-be848b48aba2>, line 2)

In [676]:
data[7]['avs_street_name'];

In [331]:
[i for i,datum in enumerate(data[:72]) if len(datum.columns) > 33]

[]

In [321]:
toy = data[81][~data[81]['unnamed: 42'].isnull()]

In [324]:
len(toy.columns)

43

In [336]:
os.listdir('data')[177]

'predictor.p'

In [29]:
links1 = soup.find_all('a', {'href':re.compile(r'/ftp*')})
base = 'https://sfdbi.org'

'https://sfdbi.org/ftp/uploadedfiles/dbi/reports/monthly_reports/bpfi/March2009FiledIssued_Permits.xls'

In [455]:
predictor = pd.concat(data)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [474]:
with open('data/predictor.p', 'wb') as file:
    pickle.dump(predictor,file)

In [470]:
predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)), axis = 1)

In [480]:
target['date'] = pd.to_datetime(target['date'])

In [296]:
save(predictor)

MemoryError:

In [330]:
del temp

In [320]:
names

['BeautifulSoup',
 'In',
 'Out',
 'a',
 'address',
 'b',
 'column_name_map',
 'd',
 'data',
 'datum',
 'df',
 'end',
 'exit',
 'file',
 'fires',
 'get_ipython',
 'hasnumber',
 'i',
 'int_date_series',
 'int_to_date',
 'j',
 'last',
 'name',
 'np',
 'os',
 'p1',
 'p2',
 'p3',
 'path',
 'pd',
 'pickle',
 'predictor',
 'quit',
 're',
 'real_fires',
 'requests',
 'row',
 's',
 'save',
 'start',
 'string',
 'subset',
 'sys',
 'target',
 'temp',
 'thing',
 'time']

In [673]:
mask = predictor['street_number'].apply(lambda x: isinstance(x, str))

In [119]:
predictor.columns = [str.lower(col) for col in predictor.columns]
predictor['address'] = predictor[['street_number', 'avs_street_name']].apply(lambda x: ' '.join(x.astype(str)),axis = 1)

Format changes:
72,

In [208]:
def compare(colA, colB, n):
    for i, (a, b) in enumerate(zip(colA, colB)):
        if i >= n:
            break
        if a != b:
            print(i)
            return False
    return True

In [222]:
compare(data[0].columns, data[2].columns, 50)

7

False

In [224]:
data[2].columns, data[0].columns

(Index(['APPLICATION_NUMBER', 'FORM_NUMBER', 'FILE_DATE', 'STATUS_DATE',
        'STATUS', 'STATUS_CODE', 'EXPIRATION_DATE', 'ESTIMATEDCOST',
        'REVISEDCOST', 'EXISTINGUSE', 'EXISTINGUNITS', 'PROPOSEDUSE',
        'PROPOSEDUNITS', 'BLOCK', 'LOT', 'STREET_NUMBER', 'STREET_NUMBER_SFX',
        'AVS_STREET_NAME', 'AVS_STREET_SFX', 'UNIT', 'UNIT_SFX', 'FIRST_NAME',
        'LAST_NAME', 'CONTRACTORPHONE', 'COMPANY_NAME', 'STREET',
        'STREET_SUFFIX', 'CITY', 'STATE', 'ZIP_CODE', 'CONTACT_NAME',
        'CONTACT_PHONE', 'DESCRIPTION', 'Unnamed: 33'],
       dtype='object'),
 Index(['APPLICATION_NUMBER', 'FORM_NUMBER', 'FILE_DATE', 'STATUS_DATE',
        'STATUS', 'STATUS_CODE', 'EXPIRATION_DATE', 'ESTIMATED_COST',
        'REVISED_COST', 'EXISTING_USE', 'EXISTING_UNITS', 'PROPOSED_USE',
        'PROPOSED_UNITS', 'BLOCK', 'LOT', 'STREET_NUMBER', 'STREET_NUMBER_SFX',
        'AVS_STREET_NAME', 'AVS_STREET_SFX', 'UNIT', 'UNIT_SFX', 'FIRST_NAME',
        'LAST_NAME', 'CONTRACTORPHONE', 'COMPANY_NAME', 'STREET',
        'STREET_SUFFIX', 'CITY', 'STATE', 'ZIP_CODE', 'CONTACT_NAME',
        'CONTACT_PHONE', 'DESCRIPTION', 'Unnamed: 33'],
       dtype='object'))

In [232]:
l = [1,2,3]
list(map({1:'hi'},l))

TypeError: 'dict' object is not callable

In [331]:
save(predictor)

In [206]:
predictor.columns

column_name_map = {}
for name in s:
    column_name_map[name] = name

In [239]:
column_name_map['proposedstories'] = 'proposed_stories'

In [241]:
with open('col_name_map.p', 'wb') as file:
    pickle.dump(column_name_map, file)

In [340]:
data[13].columns

Index(['application_number', 'form_number', 'file_date', 'status_date',
       'status', 'status_code', 'expiration_date', 'estimated_cost',
       'revised_cost', 'existing_use', 'existing_units', 'proposed_use',
       'proposed_units', 'block', 'lot', 'street_number', 'street_number_sfx',
       'avs_street_name', 'avs_street_sfx', 'unit', 'unit_sfx', 'first_name',
       'last_name', 'contractor_phone', 'company_name', 'street',
       'street_suffix', 'city', 'state', 'zip_code', 'contact_name',
       'contact_phone', 'description'],
      dtype='object')

In [348]:
old = data[0].columns
for i, datum in enumerate(data):
    if not compare(datum.columns,old, 50):
        print(i)
    old = datum.columns

13
72

In [4]:
predictor = pd.read_csv('data/predictor.csv', engine = 'python')
target = pd.read_csv('data/target.csv')

In [79]:
s = pd.Series([1,2,3])
s.astype(str)

0    1
1    2
2    3
dtype: object

In [89]:
predictor.columns;

In [94]:
#only issued applications matter
predictor = predictor[predictor['status'] == 'ISSUED'].drop('status', axis = 1)

SyntaxError: invalid syntax (<ipython-input-94-3e9599a24fc8>, line 2)

In [100]:
predictor['addr2'] = predictor['address'].apply(lambda x: x.split()).apply(lambda x: ' '.join(x[:-1]))

In [528]:
start

Timestamp('2004-04-01 00:00:00')

In [570]:
ind = 15

In [571]:
start = predictor['status_date'][ind]
address = predictor['address'][ind]
temp= target[target['date'] - start > pd.Timedelta('0 days')]

In [572]:
fires = temp[temp['Address'].apply(lambda x: address == x[:len(address)])]

In [584]:
predictor = predictor[predictor['status'] == 'ISSUED']

In [585]:
save(predictor)

In [ ]:
mask1 = (pd.Timedelta('1825 days') > (tdates - start) )
mask2 = (tdates - start) > pd.Timedelta('0 days')

In [604]:
save(predictor)

In [609]:
fires = np.zeros(len(predictor))

In [624]:
times = []
for i,time in enumerate(uniquetimes):
    try:
        times.append(pd.to_datetime(time))
    except:
        print(i, time)

In [ ]:
with open('data/')

In [672]:
data[74]['status_date']

0       2015-12-22 00:00:00
1       2015-12-22 00:00:00
2       2015-12-15 00:00:00
3       2015-12-09 00:00:00
4       2015-12-09 00:00:00
5       2015-12-09 00:00:00
6       2015-12-09 00:00:00
7       2015-12-30 00:00:00
8       2015-12-02 00:00:00
9       2015-12-11 00:00:00
10      2015-12-10 00:00:00
11      2015-12-10 00:00:00
12      2015-12-10 00:00:00
13      2015-12-10 00:00:00
14      2015-12-03 00:00:00
15      2015-12-22 00:00:00
16      2015-12-08 00:00:00
17      2015-12-01 00:00:00
18      2015-12-18 00:00:00
19      2015-12-11 00:00:00
20      2015-12-03 00:00:00
21      2015-12-29 00:00:00
22      2015-12-01 00:00:00
23      2015-12-01 00:00:00
24      2015-12-01 00:00:00
25      2015-12-01 00:00:00
26      2015-12-01 00:00:00
27      2015-12-07 00:00:00
28      2015-12-16 00:00:00
29      2015-12-29 00:00:00
               ...
4952                  42369
4953                  42369
4954                  42369
4955                  42369
4956                  42369
4957                  42369
4958                  42369
4959                  42369
4960                  42369
4961                  42369
4962                  42369
4963                  42369
4964                  42369
4965                  42369
4966                  42369
4967                  42369
4968                  42369
4969                  42369
4970                  42369
4971                  42369
4972                  42369
4973                  42369
4974                  42369
4975                  42369
4976                  42369
4977                  42369
4978                  42369
4979                  42369
4980                  42369
4981                  42369
Name: status_date, Length: 4982, dtype: object

In [671]:
for i, x in enumerate(data):
    for j, row in x.iterrows():
        if type(row['status_date']) == int:
            print(i, j)
            break

74 4794
124 4794

In [444]:
[(i, type(x.iloc[5]['status_date'])) for (i,x) in enumerate(data)];

NameError: name 'data' is not defined

In [641]:
for i, (a, b) in enumerate(zip(times, list(times2))):
    if a != b:
        print(i)
        break

1578

In [659]:
[(i,type(x)) for (i,x) in enumerate(predictor['status_date'].unique())];

In [786]:
target['Address'];

In [781]:
for i, date in enumerate(predictor['status_date'].unique()):
    if i%500 == 0:
        print(i)
    try:
        fires_after[date] = target[target['date'] - date > pd.Timedelta('0 days')]

2554

In [433]:
pd.to_datetime(predictor['status_date']);

In [438]:
save(target, target=True)

In [455]:
target

                             address       date
0                   156 GEARY STREET 2019-03-16
1                      BRYANT STREET 2019-03-15
2                1390 MISSION STREET 2019-03-15
3                    421 TURK STREET 2019-03-15
4                1449 POTRERO AVENUE 2019-03-15
5              SOUTH VAN NESS AVENUE 2019-03-14
6                         6TH STREET 2019-03-14
7                    TOWNSEND STREET 2019-03-14
8           2887 CESAR CHAVEZ STREET 2019-03-14
15                   30 MASON STREET 2019-03-13
9                  335 POWELL STREET 2019-03-13
10                        4TH STREET 2019-03-13
11                 179 JULIAN AVENUE 2019-03-13
13                    MISSION STREET 2019-03-13
12               1801 JERROLD AVENUE 2019-03-13
17                     FULTON STREET 2019-03-13
16                      505 BROADWAY 2019-03-13
18                 580 HAIGHT STREET 2019-03-13
19                  361 MOLIMO DRIVE 2019-03-13
14                      OLIVE STREET 2019-03-13
20            350 GOLDEN GATE AVENUE 2019-03-12
21                  4284 26TH STREET 2019-03-12
22          3400 CESAR CHAVEZ STREET 2019-03-12
26                 3595 GEARY BL 608 2019-03-11
23               2476 DIAMOND STREET 2019-03-11
27                900 BUSH ST 11THFL 2019-03-11
24                    34 TURK STREET 2019-03-11
28               354 COLUMBUS AVENUE 2019-03-11
25                1239 ATHENS STREET 2019-03-11
29                    2 FALLON PLACE 2019-03-10
...                              ...        ...
58871                  3215 20TH ST. 2003-01-02
58872      ELWOOD ST. / OFARRELL ST. 2003-01-02
58869          3RD ST. / NEWCOMB AV. 2003-01-02
58879       FILLMORE ST. / GEARY BL. 2003-01-01
58884                  2750 BROADWAY 2003-01-01
58883             1345 FRANCISCO ST. 2003-01-01
58882       25TH ST. / WISCONSIN ST. 2003-01-01
58881   ESPANOLA ST. / ROSIE LEE LN. 2003-01-01
58880            3820 WASHINGTON ST. 2003-01-01
58877      ARGUELLO BL. / FULTON ST. 2003-01-01
58878             1540 SUNNYDALE AV. 2003-01-01
58876      STOCKTON ST. / SUTTER ST. 2003-01-01
58875     LOMBARD ST. / VAN NESS AV. 2003-01-01
58874               3100 WEBSTER ST. 2003-01-01
58886                 1439 TREAT WY. 2003-01-01
58898      BAY VIEW ST. / LATONA ST. 2003-01-01
58873                   300 BROADWAY 2003-01-01
58885         BALBOA ST. / GREAT HY. 2003-01-01
58897               750 KIRKWOOD AV. 2003-01-01
58896  LEAVENWORTH ST. / LOMBARD ST. 2003-01-01
58895        EARL ST. / KIRKWOOD AV. 2003-01-01
58893     BUCHANAN ST. / MOULTON ST. 2003-01-01
58894                  1251 EDDY ST. 2003-01-01
58891         BALBOA ST. / GREAT HY. 2003-01-01
58890               1556 LOMBARD ST. 2003-01-01
58889              595 JOHN MUIR DR. 2003-01-01
58888                  1201 12TH AV. 2003-01-01
58887                  3964 19TH ST. 2003-01-01
58892         GROVE ST. / LAGUNA ST. 2003-01-01
58899                   640 TURK ST. 2003-01-01

[58865 rows x 2 columns]

In [472]:
a, b, c = 0,0,0
start_date = target['date'].iloc[-1]

In [474]:
for i, row in predictor.iterrows():
    if i%10000 == 0:
        print('done with {} iterations'.format(i))
    try:
        #part a
        p1 = time.clock()
        start = row['status_date']
        address = row['address']
        #part b
        p2 = time.clock()
        
        days = (start - start_date).days
        temp = target.iloc[:target_date_index[days]]
        
        #part c
        p3 = time.clock()
        fires[i] = len(temp[temp['address'].apply(lambda x: address == x[:len(address)])])
        last = time.clock()
        
        a += p2 - p1
        b += p3 - p2
        c += last - p3
    except:
        print(i)
        print(sys.exc_info())
        break

done with 0 iterations
691
(<class 'KeyboardInterrupt'>, KeyboardInterrupt(), <traceback object at 0x000001EC3DB3B188>)

In [475]:
a,b,c

(26.40397250001479, 138.44974659975378, 6800.242670500495)

In [487]:
end_date = target.iloc[0]['date']

In [493]:
time_period = (end_date - predictor['status_date']).apply(lambda x: x.days)

In [495]:
predictor['fire_rate'] = predictor['fires'] /time_period * 365.25

In [501]:
predictor[predictor['fires']>0]

,15_day_hold?,application_number,assessor_stories,avs_street_name,avs_street_sfx,block,city,company_name,contact_name,contact_phone,...,street_number.1,street_number_sfx,street_suffix,unit,unit_sfx,voluntary soft-story retrofit,zip_code,address,fires,fire_rate
7564,NaN,200212314402,NaN,LAGUNA HONDA,BL,2842,SAN FRANCISCO,PROVEN MANAGEMENT INC.,NaN,NaN,...,NaN,NaN,ST,NaN,NaN,NaN,94124-0000,375 LAGUNA HONDA,1.0,0.066192
7587,NaN,200304112144,NaN,ELLIS,ST,0717,SAN FRANCISCO,MATRIX SEISMIC CORP,NaN,NaN,...,NaN,NaN,ST,NaN,NaN,NaN,94102-0000,710 ELLIS,2.0,0.132409
7624,NaN,200307310903,NaN,PAGE,ST,1226,SAN FRANCISCO,RUBY PLUMBING & ELECTRICAL,NaN,NaN,...,NaN,NaN,AV,0,NaN,NaN,94112-0000,1880 PAGE,1.0,0.066156
7649,NaN,200309185179,NaN,TEHAMA,ST,3733,SAN FRANCISCO,TOPPS ELECTRIC CO.,CONTRACTOR NEEDS WORKMEN COMP.,NaN,...,NaN,NaN,AV,NaN,NaN,NaN,94124-0000,328 TEHAMA,1.0,0.066445
7650,NaN,200309185179,NaN,CLEMENTINA,ST,3733,SAN FRANCISCO,TOPPS ELECTRIC CO.,CONTRACTOR NEEDS WORKMEN COMP.,NaN,...,NaN,NaN,AV,NaN,NaN,NaN,94124-0000,330 CLEMENTINA,3.0,0.199336
7655,NaN,200309265896,NaN,CALIFORNIA,ST,1015,SAN FRANCISCO,PANKOW SPECIAL PROJECTS LP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,94107-0000,3838 CALIFORNIA,1.0,0.066361
7659,NaN,200310036472,NaN,FRANCISCO,ST,0042,MILPITAS,SUPERIOR AUTOMATIC SPRINKLER,NaN,NaN,...,NaN,NaN,CT,NaN,NaN,NaN,95035-0000,570 FRANCISCO,2.0,0.132722
7660,NaN,200310036476,NaN,FRANCISCO,ST,0042,MILPITAS,SUPERIOR AUTOMATIC SPRINKLER,NaN,NaN,...,NaN,NaN,CT,NaN,NaN,NaN,95035-0000,570 FRANCISCO,2.0,0.132722
7670,NaN,200310157553,NaN,CALIFORNIA,ST,1021,SO. SAN FRANCISCO,PACIFIC EARTHSAFE SYSTEMS,NaN,NaN,...,NaN,NaN,DR,NaN,NaN,NaN,94080-0000,3200 CALIFORNIA,1.0,0.066252
7672,NaN,200310177792,NaN,16TH,ST,3568,PITTSBURG,AQUAMATIC FIRE PROTECTION,NaN,NaN,...,NaN,NaN,ST,NaN,NaN,NaN,94565-0000,3161 16TH,1.0,0.066240
7692,NaN,200311130195,NaN,FILLMORE,ST,0707,NaN,NaN,"YOUNG WONG 785 MARKET SF, CA 94103",4.15975e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1501 FILLMORE,1.0,0.066277
7698,NaN,200311190573,NaN,PAGE,ST,0854,NaN,NaN,JAIDIN CONSULTING GROUP,8.63389e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55 PAGE,1.0,0.066277
7733,NaN,200312112081,NaN,20TH,AV,7295,SEDONA,SHRADER & MARINEZ CONST. INC,"MBH ARCH 1125 ALANTIC AVE, ALAMEDA 94501",5.10866e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,86336-0000,3251 20TH,3.0,0.198505
7734,NaN,200312112123,NaN,20TH,AV,7295,SEDONA,SHRADER & MARINEZ CONST. INC,"MBH ARCH 1125 ATLANTIC AVE, ALAMEDA,CA",5.10866e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,86336-0000,3251 20TH,3.0,0.198505
7758,NaN,200312192732,NaN,20TH,AV,7295,NaN,NaN,"LIMITED BRANDS 3 LTD PKWY, COLUMBUS OH 43230",NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,3251 20TH,3.0,0.199010
7769,NaN,200312232942,NaN,GARLINGTON,CT,4715,SAN FRANCISCO,MARINSHIP CONSTRUCTION,NaN,NaN,...,NaN,NaN,AV,NaN,NaN,NaN,94124,4 GARLINGTON,1.0,0.066457
7780,NaN,200312303199,NaN,FRONT,ST,0266,NaN,NaN,GENSLER 2 HARRISION ST 400 SF 94105,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 FRONT,1.0,0.066361
7784,NaN,200312313236,NaN,SPEAR,ST,3744,PACHECO,RICHLEN CONSTRUCTION,"RMW 160 PINE ST, SF, CA",NaN,...,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,345 SPEAR,1.0,0.066240
7785,NaN,200312313238,NaN,POWELL,ST,0307,S SAN FRANCISCO,MARCHETTI CONSTRUCTION INC.,"RICHARD RUTTER 2329 SANTA CLARA #204,ALAMEDA,C...",NaN,...,NaN,NaN,WY,NaN,NaN,NaN,94080,335 POWELL,1.0,0.066240
7786,NaN,200312313268,NaN,VALENCIA,ST,3569,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535 VALENCIA,1.0,0.066156
7792,NaN,200401063416,NaN,CALIFORNIA,ST,0263,NEW YORK,TURNER CONSTRUCTION CO,HOK,NaN,...,NaN,NaN,ST,NaN,NaN,NaN,10014-0000,101 CALIFORNIA,1.0,0.066289
7796,NaN,200401073484,NaN,MAIN,ST,3740,NaN,NaN,"OTTOLINI BOOTH & ASSOC 221 MAIN, #525,SF, CA 9...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221 MAIN,2.0,0.132673
7805,NaN,200401083612,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,"INTERIOR ARCHITECTS 350 CALIF #1500,SF, CA",4.15434e+09,...,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0,0.066240
7806,NaN,200401083614,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,NaN,NaN,...,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0,0.066433
7807,NaN,200401083616,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,"INTERIOR ARCHITECTS 350 CALIF #1500,SF, CA",NaN,...,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0,0.066240
7808,NaN,200401083617,NaN,CALIFORNIA,ST,0263,PACHECO,RICHLEN CONSTRUCTION,INTERIOR ARCHITECTS,NaN,...,NaN,NaN,DR,NaN,NaN,NaN,94553-0000,101 CALIFORNIA,1.0,0.066433
7843,NaN,200401204368,NaN,CALIFORNIA,ST,0263,NEW YORK,TURNER CONSTRUCTION CO,"HOK 1 BUSH ST #200,SF, CA 94104. THEODORE DAV...",NaN,...,NaN,NaN,ST,NaN,NaN,NaN,10014-0000,101 CALIFORNIA,1.0,0.066289
7847,NaN,200401214472,NaN,CALIFORNIA,ST,0262,SAN FRANCISCO,BRENT CONSTRUCTION CO INC,NaN,NaN,...,NaN,NaN,ST,NaN,NaN,NaN,94107,201 CALIFORNIA,1.0,0.066252
7848,NaN,200401214474,NaN,CALIFORNIA,ST,0262,SAN FRANCISCO,BRENT CONSTRUCTION CO INC,"SMITH GROUP 225 BUSH ST,SF, CA",NaN,...,NaN,NaN,ST,NaN,NaN,NaN,94107,201 CALIFORNIA,1.0,0.066349
7852,NaN,200401224564,NaN,JONES,ST,0339,SAN FRANCISCO,LEM CONSTRUCTION INC,"GELFAND RNP ARCHITECTS 450 GEARY ST#100,SF,CA9...",NaN,...,NaN,NaN,*,NaN,NaN,NaN,94612-0000,240 JONES,1.0,0.066277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411697,NaN,#201811095482,2.0,VAN NESS,AV,762,HUNTINGTON BEACH,PYRO-COMM SYSTEMS INC.,NaN,NaN,...,15531.0,NaN,LN,NaN,NaN,NaN,92649-0000,601 VAN NESS,25.0,71.899606
411698,NaN,#201811095483,1.0,KING,ST,3793,SAN FRANCISCO,K A LAU CONSTRUCTION,NaN,NaN,...,414.0,NaN,AV,1206,NaN,NaN,94118-0000,88 KING,16.0,46.015748
411702,NaN,#201811095489,0.0,CALIFORNIA,ST,642,SAN FRANCISCO,AD ART INC.,NaN,NaN,...,150.0,NaN,BL,NaN,P,NaN,94134-0000,1700 CALIFORNIA,8.0,24.148760
411703,NaN,#201811095489,0.0,CALIFORNIA,ST,642,SAN FRANCISCO,AD ART INC.,NaN,NaN,...,150.0,NaN,BL,1008,NaN,NaN,94134-0000,1700 CALIFORNIA,8.0,24.148760
411704,NaN,#201811095489,7.0,CALIFORNIA,ST,642,SAN FRANCISCO,AD ART INC.,NaN,NaN,...,150.0,NaN,BL,570,NaN,NaN,94134-0000,1700 CALIFORNIA,8.0,24.148760
411708,NaN,#201811095493,12.0,STEINER,ST,0587C,NOVATO,D V RASMUSSEN & SON INC.,NaN,NaN,...,1118.0,NaN,NaN,8,NaN,NaN,94945-0000,2500 STEINER,1.0,2.875984
411709,NaN,#201811095494,0.0,FRANCISCO,ST,56,SAN FRANCISCO,AYOOB & PEERY PLUMBING,NaN,NaN,...,975.0,NaN,ST,NaN,NaN,NaN,94107,55 FRANCISCO,1.0,2.875984
411711,NaN,#201811095498,8.0,CALIFORNIA,ST,1015,GLENDALE,ACCO ENGINEERED SYSTEMS INC.,NaN,NaN,...,6265.0,NaN,RD,NaN,NaN,NaN,91201-0000,3838 CALIFORNIA,4.0,11.975410
411714,NaN,#201811095500,3.0,OAK,ST,844,SAN FRANCISCO,JOHN O'DONOVAN,NaN,NaN,...,526.0,NaN,NaN,NaN,NaN,NaN,94103-0000,899 OAK,3.0,8.627953
411721,NaN,#201811095513,4.0,OFARRELL,ST,322,ANDERSON,HUE & CRY SECURITY SYSTEM,NaN,NaN,...,1751.0,NaN,DR,NaN,NaN,NaN,96007-0000,691 OFARRELL,4.0,12.175000
411748,NaN,#201811095555,6.0,BUCHANAN,ST,851,SAN FRANCISCO,HON'S CONSTRUCTION INC.,NaN,NaN,...,519.0,NaN,ST,NaN,NaN,NaN,94133,300 BUCHANAN,4.0,13.654206
411757,NaN,#201811095575,5.0,LARKIN,ST,693,SAN BRUNO,TRIM FIT CONSTR. - O'REILLY ENGINEERING,NaN,NaN,...,121.0,NaN,CT,NaN,NaN,NaN,94066-0000,945 LARKIN,3.0,8.627953
411760,NaN,#201811135579,43.0,MARKET,ST,3713,HAYWARD,SIEMENS INDUSTRY INC.,NaN,NaN,...,25821.0,NaN,BL,NaN,NaN,NaN,94545-0000,1 MARKET,12.0,35.634146
411761,NaN,#201811135580,0.0,BEALE,ST,3711,HAYWARD,SIEMENS INDUSTRY INC.,NaN,NaN,...,25821.0,NaN,BL,NaN,NaN,NaN,94545-0000,77 BEALE,1.0,2.969512
411762,NaN,#201811135581,0.0,MARKET,ST,3702,HUNTINGTON BEACH,PYRO-COMM SYSTEMS INC.,NaN,NaN,...,15531.0,NaN,LN,NaN,PARCEL A,NaN,92649-0000,1155 MARKET,14.0,41.573171
411763,NaN,#201811135581,0.0,MARKET,ST,3702,HUNTINGTON BEACH,PYRO-COMM SYSTEMS INC.,NaN,NaN,...,15531.0,NaN,LN,NaN,PARCEL C,NaN,92649-0000,1155 MARKET,14.0,41.573171
411764,NaN,#201811135581,100.0,MARKET,ST,3702,HUNTINGTON BEACH,PYRO-COMM SYSTEMS INC.,NaN,NaN,...,15531.0,NaN,LN,NaN,PARCEL D,NaN,92649-0000,1155 MARKET,14.0,41.573171
411765,NaN,#201811135581,900.0,MARKET,ST,3702,HUNTINGTON BEACH,PYRO-COMM SYSTEMS INC.,NaN,NaN,...,15531.0,NaN,LN,NaN,PARCEL B,NaN,92649-0000,1155 MARKET,14.0,41.573171
411770,NaN,#201811135588,11.0,MARKET,ST,3508,GLENDALE,ACCO ENGINEERED SYSTEMS INC.,NaN,NaN,...,6265.0,NaN,RD,NaN,NaN,NaN,91201-0000,1355 MARKET,6.0,17.817073
411771,NaN,#201811135589,19.0,BUSH,ST,290,SAN FRANCISCO,GOLDEN GATE FIRE PROTECTION INC,NaN,NaN,...,133.0,NaN,ST,0,NaN,NaN,94103-0000,1 BUSH,2.0,5.939024
411774,NaN,#201811135591,48.0,CALIFORNIA,ST,263,SAN FRANCISCO,GOLDEN GATE FIRE PROTECTION INC,NaN,NaN,...,133.0,NaN,ST,NaN,NaN,NaN,94103-0000,101 CALIFORNIA,13.0,38.603659
411775,NaN,#201811135592,20.0,SANSOME,ST,228,SAN FRANCISCO,GOLDEN GATE FIRE PROTECTION INC,NaN,NaN,...,133.0,NaN,ST,0,NaN,NaN,94103-0000,475 SANSOME,1.0,2.969512
411776,NaN,#201811135593,27.0,GEARY,BL,697,PETALUMA,C J REED CONSTRUCTION CO,NaN,NaN,...,1658.0,NaN,DR,0,NaN,NaN,94954-0000,1400 GEARY,53.0,175.984091
411777,NaN,#201811135594,3.0,GEARY,ST,310,FREMONT,RED HAWK FIRE & SECURITY CA LLC,NaN,NaN,...,4384.0,NaN,PL,NaN,NaN,NaN,94538-0000,46 GEARY,1.0,2.969512
411786,NaN,#201811135606,2.0,MISSION,ST,3728,SAN FRANCISCO,AD ART INC.,NaN,NaN,...,150.0,NaN,BL,0,NaN,NaN,94134-0000,1277 MISSION,1.0,3.043750
411791,NaN,#201811135617,3.0,CLAY,ST,1010,SAN FRANCISCO,P 3 CONSTRUCTION & REMODELING INC,NaN,NaN,...,1228.0,NaN,ST,NaN,NaN,NaN,94103-0000,3501 CLAY,1.0,2.969512
411798,NaN,#201811135626,3.0,EL CAMINO DEL MAR,*,1307,SAN FRANCISCO,MADDEN PLASTERING,NaN,NaN,...,631.0,NaN,AV,NaN,NaN,NaN,94121-0000,620 EL CAMINO DEL MAR,1.0,2.969512
411801,NaN,#201811135631,13.0,HOWARD,ST,3717,BOCA RATON,JOHNSON CONTROLS FIRE PROTECTION LP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,33431-0000,180 HOWARD,3.0,8.908537
411802,NaN,#201811135632,NaN,MARKET,ST,3706,BOCA RATON,JOHNSON CONTROLS FIRE PROTECTION LP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,33431-0000,757 MARKET,6.0,17.817073
411807,NaN,#201811135642,10.0,OWENS,ST,8709,SAN BRUNO,HONEYWELL INTERNATIONAL INC,NaN,NaN,...,1099.0,NaN,NaN,0,NaN,NaN,94066-0000,1600 OWENS,4.0,11.878049

In [499]:
save(predictor)

In [484]:
target[target['address'].apply(lambda x: x[:14] == '330 CLEMENTINA')]

                      address       date
228     330 CLEMENTINA STREET 2019-02-10
1013    330 CLEMENTINA ST 503 2018-11-10
3700    330 CLEMENTINA STREET 2018-02-09
4465    330 CLEMENTINA STREET 2017-12-03
6546    330 CLEMENTINA STREET 2017-05-04
6796    330 CLEMENTINA STREET 2017-04-05
6894    330 CLEMENTINA STREET 2017-03-23
7288    330 CLEMENTINA STREET 2017-01-31
8802    330 CLEMENTINA ST 9TH 2016-08-25
8936   330 CLEMENTINA ST 1011 2016-08-12
9816    330 CLEMENTINA STREET 2016-05-27
9884    330 CLEMENTINA STREET 2016-05-21
10314   330 CLEMENTINA ST 319 2016-04-03
18149       330 CLEMENTINA ST 2013-11-03
20847       330 CLEMENTINA ST 2013-01-18
30590      330 CLEMENTINA ST. 2010-05-03
34118      330 CLEMENTINA ST. 2009-05-11
39329      330 CLEMENTINA ST. 2007-12-02
40756      330 CLEMENTINA ST. 2007-07-08
40893      330 CLEMENTINA ST. 2007-06-29
41705      330 CLEMENTINA ST. 2007-04-16
42421      330 CLEMENTINA ST. 2007-02-03
42901      330 CLEMENTINA ST. 2007-01-01
44824      330 CLEMENTINA ST. 2006-07-07
45784      330 CLEMENTINA ST. 2006-04-14
55662      330 CLEMENTINA ST. 2003-09-22
56108      330 CLEMENTINA ST. 2003-08-14
57645      330 CLEMENTINA ST. 2003-04-18

predictor

In [773]:
fires[0] = len(temp[temp['Address'].apply(lambda x: address == x[:len(address)])])

In [762]:
start = row['status_date']
address = row['address']

In [11]:
def int_able(string):
    try:
        x = int(string)
    except:
        return False
    return True

In [41]:
predictor[predictor['address'].apply(lambda x: test in x)]

Empty DataFrame
Columns: [file_date, estimated cost, proposed use, proposed units, proposed stories, address, list]
Index: []

In [96]:
#get the rows there the first word of the address is a number
#in other words, make sure there an address number.
predictor['address'][predictor['address'].apply(lambda x: x.split()[0]).apply(intable)];

Confirmed: Every single row in this data has an address number that's the first word in the address

In [32]:
#let's get that list out
predictor['list'] = predictor['address'].apply(lambda x: x.split())

In [97]:
predictor['address'].apply(lambda x: x.split()[-1]).unique();

In [31]:
street_names = predictor['address'].apply(lambda x: x.split()[-2]).unique()

In [341]:
test = '156 GEARY'
target[target['address'].apply(lambda x: test in x)]

            address       date
0  156 GEARY STREET 2019-03-16

In [ ]:
#let's find stuff with the same second word but different suffix. see if that's a thing?
for name in street_names:
    predictor['address'].apply()

In [43]:
predictor['street name'] = predictor['list'].apply(lambda x: x[1])

In [45]:
predictor['addr2'] = predictor['list'].apply(lambda x: ' '.join(x[:-1]))

In [452]:
save(predictor)

In [57]:
for i, addr in enumerate(predictor['addr2'].unique()):
    t = target[target['Address'].apply(lambda x: addr in x)].count()
    print(addr, ': ', t['Address'])
    if i > 100: 
        break

1201 TENNESSEE :  11
435 10TH :  1
1127 MARKET :  4
3935 WASHINGTON :  1
455 IRWIN :  3
201 POST :  33
209 POST :  1
2371 17TH :  2
1455 MARKET :  68
322 LEXINGTON :  0
2130 OFARRELL :  21
1 HALLIDIE :  0
1299 BUSH :  9
222 02ND :  1
28 CYRIL MAGNIN :  9
2675 GEARY :  111
3507 23RD :  1
3509 23RD :  1
333 POST :  136
1417 05TH :  0
1419 05TH :  0
40 BUCHANAN :  9
1627 RIVERA :  0
1111 08TH :  0
744 IRVING :  6
130 SAN BUENAVENTURA :  0
747 HOWARD :  190
1225 HYDE :  2
1649 POLK :  1
634 MISSOURI :  1
650 CALIFORNIA :  72
549 FLOOD :  0
350 MISSION :  54
301 HOWARD :  80
1939 MARKET :  3
112 07TH :  0
212 CALIFORNIA :  7
165 LOWER :  0
167 LOWER :  0
806 35TH :  0
536 MISSION :  33
195 EUREKA :  1
444 DE HARO :  25
2526 FRANCISCO :  1
1770 35TH :  1
312 TEXAS :  1
16 25TH NORTH :  0
5 EMBARCADERO CENTER :  0
1263 MISSION :  1
727 CHENERY :  0
733 CHENERY :  0
703 MARKET :  14
975 CLAYTON :  0
2849 BALBOA :  0
46 LUNDY'S :  0
577 ALVARADO :  0
799 MARKET :  74
860 FELL :  6
3516 SACRAMENTO :  9
3518 SACRAMENTO :  0
110 SUTTER :  19
2 EMBARCADERO CENTER :  0
901 MARKET :  50
1522 09TH :  0
875 37TH :  1
474 LOS PALMOS :  0
115 TOPAZ :  0
117 TOPAZ :  0
2106 JACKSON :  12
4612 19TH :  0
2349 09TH :  0
848 26TH :  0
980 BAKER :  1
2035 LAGUNA :  0
1 CALIFORNIA :  809
1692 HAIGHT :  0
201 CALIFORNIA :  95
5431 CALIFORNIA :  3
333 BUSH :  130
601 CALIFORNIA :  37
123 MISSION :  55
2288 BROADWAY :  28
1330 HAMPSHIRE :  0
1309 HOWARD :  0
555 MARKET :  94
115 ULLOA :  3
47 PROSPECT :  1
1859 FILBERT :  1
250 SUMMIT :  0
50 LAGUNA :  75
1520 GOUGH :  22
420 MONTGOMERY :  56
180 MONTGOMERY :  27
2841 VALLEJO :  3
1017 PORTOLA :  0
1 MONTGOMERY :  442
120 KEARNY :  162
1569 PAGE :  0
100 DIAMOND :  7
1234 34TH :  2
1236 34TH :  0
47 LINDA :  0

57067