In [5]:
import pickle
import pandas as pd

In [2]:
with open('data/predictor.p', 'rb') as file:
    pred = pickle.load(file)

In [6]:
with open('data/fires_df.p', 'rb') as file:
    fires_df = pickle.load(file)

In [18]:
target_date_index = {}

In [45]:
for i, date in enumerate(fires_df['date']):
    target_date_index[(date - start_date).days] = i

In [48]:
with open('train/target_date_index.p', 'wb') as file:
     pickle.dump(target_date_index,file)

In [42]:
a, b, c = 0,0,0
start_date = pd.to_datetime('2003-01-01')

In [43]:
pd.to_datetime('2016-12-31') - start_date

Timedelta('5113 days 00:00:00')

In [8]:
fires_df['year'] = fires_df['date'].apply(lambda x: x.year)

In [29]:
target_matching['year'] = target_matching['status_date'].apply(lambda x: x.year)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
fires_df_train = fires_df[fires_df['year'] <= 2017]

In [38]:
target_matching_train = target_matching[target_matching['year'] <= 2017]

In [53]:
target_matching_train

       status_date            address  year
0       2004-04-01       705 SHOTWELL  2004
1       2004-04-01        142 DIAMOND  2004
2       2004-04-01        148 DIAMOND  2004
3       2004-04-01          4089 26TH  2004
4       2004-04-01          1343 47TH  2004
5       2004-04-01       535 VALENCIA  2004
6       2004-04-01            50 03RD  2004
7       2004-04-01          1812 47TH  2004
8       2004-04-01         51 BALDWIN  2004
9       2004-04-01       25 WEST CLAY  2004
10      2004-04-01        1634 WALLER  2004
11      2004-04-01        1636 WALLER  2004
12      2004-04-01       190 MARIETTA  2004
13      2004-04-01         1507 OCEAN  2004
14      2004-04-01         1509 OCEAN  2004
15      2004-04-01     560 SACRAMENTO  2004
16      2004-04-01         685 SUTTER  2004
17      2004-04-02        1380 SUTTER  2004
18      2004-04-02         111 SUTTER  2004
19      2004-04-02         111 SUTTER  2004
20      2004-04-02           1 POWELL  2004
21      2004-04-02          4330 26TH  2004
22      2004-04-02          1045 LAKE  2004
23      2004-04-02           147 WOOL  2004
24      2004-04-02           149 WOOL  2004
25      2004-04-02         381 JERSEY  2004
26      2004-04-02            66 FAIR  2004
27      2004-04-02        1075 SUTTER  2004
28      2004-04-02          2445 47TH  2004
29      2004-04-02         468 JERSEY  2004
...            ...                ...   ...
387233  2017-09-29         120 KEARNY  2017
387234  2017-09-29      54 MCALLISTER  2017
387235  2017-09-29          3251 20TH  2017
387236  2017-09-29     601 CALIFORNIA  2017
387237  2017-09-29          3251 20TH  2017
387238  2017-09-29  33 NEW MONTGOMERY  2017
387239  2017-09-29           100 01ST  2017
387240  2017-09-29           215 COLE  2017
387241  2017-09-29           217 COLE  2017
387242  2017-09-29       71 STEVENSON  2017
387243  2017-09-29     555 MONTGOMERY  2017
387244  2017-09-29           201 03RD  2017
387245  2017-09-29         575 MARKET  2017
387246  2017-09-29     101 CALIFORNIA  2017
387247  2017-09-29     208 GRAND VIEW  2017
387248  2017-09-29          2135 29TH  2017
387249  2017-09-29          1830 11TH  2017
387250  2017-09-29        755 SANSOME  2017
387251  2017-09-29        3320 WAWONA  2017
387252  2017-09-29         444 KANSAS  2017
387253  2017-09-29           597 26TH  2017
387254  2017-09-29           599 26TH  2017
387255  2017-09-29         444 NATOMA  2017
387256  2017-09-29       80 ROBINHOOD  2017
387257  2017-09-29       247 SEACLIFF  2017
387258  2017-09-29          1701 44TH  2017
387259  2017-09-29       1489 WEBSTER  2017
387260  2017-09-29        945 CORBETT  2017
387261  2017-09-29        925 CORBETT  2017
387262  2017-09-29        945 CORBETT  2017

[351427 rows x 3 columns]

In [50]:
with open('train/target_matching_train.p', 'wb') as file:
    pickle.dump(target_matching_train, file)

In [ ]:
time1 = time.clock()
for i, row in target_matching.iterrows():
    if i%10000 == 0:
        print('done with {} iterations'.format(i))
        print(time.clock() - time1)
    try:
        #part a
#         p1 = time.clock()
        start = row['status_date']
        address = row['address']
        #part b
#         p2 = time.clock()
        
        days = (start - start_date).days
        after = fires_df.iloc[:target_date_index[days]]
        before = fires_df.iloc[target_date_index[days]:]
        
        #part c
#         p3 = time.clock()
        
        fires[i,0] = len(before[before['address'].apply(lambda x: address == x[:len(address)])])
        fires[i,1] = len(after[after['address'].apply(lambda x: address == x[:len(address)])])
#         last = time.clock()
        
#         a += p2 - p1
#         b += p3 - p2
#         c += last - p3
    except:h
        print(i)
        print(sys.exc_info())
        break