In [5]:
import pickle
import pandas as pd

In [2]:
with open('data/predictor.p', 'rb') as file:
    pred = pickle.load(file)

In [6]:
with open('data/fires_df.p', 'rb') as file:
    fires_df = pickle.load(file)

In [18]:
target_date_index = {}

In [45]:
for i, date in enumerate(fires_df['date']):
    target_date_index[(date - start_date).days] = i

In [48]:
with open('train/target_date_index.p', 'wb') as file:
     pickle.dump(target_date_index,file)

In [42]:
a, b, c = 0,0,0
start_date = pd.to_datetime('2003-01-01')

In [43]:
pd.to_datetime('2016-12-31') - start_date

Timedelta('5113 days 00:00:00')

In [8]:
fires_df['year'] = fires_df['date'].apply(lambda x: x.year)

In [29]:
target_matching['year'] = target_matching['status_date'].apply(lambda x: x.year)

C:\Users\pengj\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
fires_df_train = fires_df[fires_df['year'] <= 2017]

In [38]:
target_matching_train = target_matching[target_matching['year'] <= 2017]

In [55]:
target_matching

       status_date          address  year
0       2004-04-01     705 SHOTWELL  2004
1       2004-04-01      142 DIAMOND  2004
2       2004-04-01      148 DIAMOND  2004
3       2004-04-01        4089 26TH  2004
4       2004-04-01        1343 47TH  2004
5       2004-04-01     535 VALENCIA  2004
6       2004-04-01          50 03RD  2004
7       2004-04-01        1812 47TH  2004
8       2004-04-01       51 BALDWIN  2004
9       2004-04-01     25 WEST CLAY  2004
10      2004-04-01      1634 WALLER  2004
11      2004-04-01      1636 WALLER  2004
12      2004-04-01     190 MARIETTA  2004
13      2004-04-01       1507 OCEAN  2004
14      2004-04-01       1509 OCEAN  2004
15      2004-04-01   560 SACRAMENTO  2004
16      2004-04-01       685 SUTTER  2004
17      2004-04-02      1380 SUTTER  2004
18      2004-04-02       111 SUTTER  2004
19      2004-04-02       111 SUTTER  2004
20      2004-04-02         1 POWELL  2004
21      2004-04-02        4330 26TH  2004
22      2004-04-02        1045 LAKE  2004
23      2004-04-02         147 WOOL  2004
24      2004-04-02         149 WOOL  2004
25      2004-04-02       381 JERSEY  2004
26      2004-04-02          66 FAIR  2004
27      2004-04-02      1075 SUTTER  2004
28      2004-04-02        2445 47TH  2004
29      2004-04-02       468 JERSEY  2004
...            ...              ...   ...
423069  2019-01-31   1671 GREENWICH  2019
423070  2019-01-31      253 DIAMOND  2019
423071  2019-01-31      775 CORBETT  2019
423072  2019-01-31          29 29TH  2019
423073  2019-01-31     235 CORTLAND  2019
423074  2019-01-31     334 SCHWERIN  2019
423075  2019-01-31        4565 19TH  2019
423076  2019-01-31        1330 11TH  2019
423077  2019-01-31        1332 11TH  2019
423078  2019-01-31        20 LUNADO  2019
423079  2019-01-31       555 LAUREL  2019
423080  2019-01-31        2751 23RD  2019
423081  2019-01-31         9 SATURN  2019
423082  2019-01-31       1445 OCEAN  2019
423083  2019-01-31     923 VALENCIA  2019
423084  2019-01-31        1260 CLAY  2019
423085  2019-01-31         289 LILY  2019
423086  2019-01-31      167 MIRAMAR  2019
423087  2019-01-31    1198 VALENCIA  2019
423088  2019-01-31   660 CALIFORNIA  2019
423089  2019-01-31      201 MISSION  2019
423090  2019-01-31      123 MISSION  2019
423091  2019-01-31       500 HOWARD  2019
423092  2019-01-31  4440 CALIFORNIA  2019
423093  2019-01-31     601 VAN NESS  2019
423094  2019-01-31         513 08TH  2019
423095  2019-01-31       679 VIENNA  2019
423096  2019-01-31        2908 BUSH  2019
423097  2019-01-31        2910 BUSH  2019
423098  2019-01-31       274 TOPEKA  2019

[423099 rows x 3 columns]

In [50]:
with open('train/target_matching_train.p', 'wb') as file:
    pickle.dump(target_matching_train, file)

In [ ]:
time1 = time.clock()
for i, row in target_matching.iterrows():
    if i%10000 == 0:
        print('done with {} iterations'.format(i))
        print(time.clock() - time1)
    try:
        #part a
#         p1 = time.clock()
        start = row['status_date']
        address = row['address']
        #part b
#         p2 = time.clock()
        
        days = (start - start_date).days
        after = fires_df.iloc[:target_date_index[days]]
        before = fires_df.iloc[target_date_index[days]:]
        
        #part c
#         p3 = time.clock()
        
        fires[i,0] = len(before[before['address'].apply(lambda x: address == x[:len(address)])])
        fires[i,1] = len(after[after['address'].apply(lambda x: address == x[:len(address)])])
#         last = time.clock()
        
#         a += p2 - p1
#         b += p3 - p2
#         c += last - p3
    except:h
        print(i)
        print(sys.exc_info())
        break